body{
    background-color: #e8c3de;
}

.logo{
    border-radius: 50%;
}

/* estilos seção home */
#home {
    width: 100%;
    height: 300px;
}

/* estilos seção sobre */
#sobre{
    line-height: 1.2;
}

.sabart{
    width: 400px;
    height: 400px;
    padding-top: 15px;
    border-radius: 10%;
    line-height: 1.2rem;
}

/* estilização dos produtos */

.produtos{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
}

.produtos img {
    width: 200px;
    border-radius: 20%;
    padding: 20px;
}

footer{
    position: absolute;
    width: 100%;
}
